// SPDX-License-Identifier: GPL-2.0+
#include "socfpga_cyclone5_de10_nano.dtsi"

/{
    model = "Audio Logic Audio Mini";
};

&i2c0{
    status = "okay";
    clock-frequency = <100000>;

    tpa6130a2@60 {
        compatible = "dev,al-tpa6130a2";
        // I2C address (in 7-bit form)
        reg = <0x60>;
    };    
};

&spi0{
    status = "okay";

    ad1939@0 {
        compatible = "dev,al-ad1939";
        spi-max-frequency = <500000>;

        // chip-select 0
        reg = <0>;

        // set spi mode to 3
        spi-cpol;
        spi-cpha;
    };

};
