[Unit] 
Description=Service to load drivers for the audio mini 

[Service] 
Type=oneshot 
ExecStart=/bin/bash /usr/local/bin/load-audio-mini-drivers.sh 
Restart=no 
User=root 
Group=root 

[Install] 
WantedBy=multi-user.target
